.grid-container {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 20vh 70vh 10vh;
  gap: 0px 0px;
  grid-template-areas:
    "logo subtitle navigation"
    "content content content"
    "footer footer footer";
}

.logo {
  grid-area: logo;
  border-bottom: 1px solid;
  max-height: 100%;
  background: url(../Ressources/logo.jpg) no-repeat;
  background-size: contain;
}

img {
  max-width: 100%;
}

.navigation { 
  grid-area: navigation; 
  display: grid;
  align-items: center;
  border-bottom: 1px solid;

}

.subtitle { 
  grid-area: subtitle; 
  text-align: center;
  align-items: center;
  display: grid;
  border-bottom: 1px solid;
}

a{
  color:white;
  text-decoration: none;
}

a:hover{
  color:white;
  text-decoration: none;
}

.footer { 
  grid-area: footer; 
  text-align: center;
  border-top: 1px solid;
  display: grid;
  align-items: center;
}

