.container{
  background-color: lightblue;
  }

.logo{
  display: block;
  height:20vh;
  max-height: 100%;
  background-size: contain;
  }

.subtitle {
  display: grid;
  }

header{
  height:20vh;
}
content {
  height: 70vh;
  border-bottom: 1px solid;
  border-top: 1px solid;
  display: grid;
  text-align: center;
  }

footer {
  height: 10vh;
  }